@media(max-width: 750px){
 
    #lapis, #brasão{
        max-width: 40px;
    }
    #logo{
        height: 57px;
        width: 297px;
    }
    .menu-inicial ul{
        padding: 0 15%;
    }
    .container-inf{
        flex-direction: column;
        margin-top: 35px;
        margin-inline: 8vw;
        gap: 40px;
        margin-bottom: 40px;
    }
    .conj-descr{
        width: auto;
        height: 413px;
        padding-top: 15px      
    }
    .img-inicial img{
       width: 260px;
       height: 269px;
       
    }
    .legenda-foto{
        font-size: 13px;
        max-height: 65px;
        width: 280px;
        margin-top: 10px;
    } 
    .conj-sec-local{
        gap: 40px;
    }
    .secretario{
       width: auto;
    }
    .cargo p{
        font-size: 13px;
    }

    .img-sec img{
        width: 95px;
        height: auto;
    }
    .local{
        padding: 40px 0 20px 0;
    }
    .img-local img{
        width: 260px;
    }

}
